<footer class="footer">
    <div class="inner">
        <ul class="clearfix">
            <li><a href="<%- PORTAL_SITE_URL %>/privacy/" target="_blank"><%- __('footer.privacyPolicy') %></a></li>
            <li><a href="<%- PORTAL_SITE_URL %>/law/" target="_blank"><%- __('footer.law') %></a></li>
        </ul>
        <div class="copyright"><%- __('footer.copyright') %></div>
    </div>
</footer>