<!DOCTYPE html>
<html lang="<%- __('lang') %>">
<%- include head %>
<% if (isApp) { %>
<body class="app">
<% } else { %>
<body>
<% } %>
<%- include tags/body %>
<%- include noscript %>
<div class="wrapper">

<%- include header %>

<div class="contents">
    <%- body %>
</div>

<%- include footer %>
</div>
<div class="modal-cover" onclick=""></div>
<%- defineContent('modals') %>
<%- include loading %>

<%- defineContent('afterScript') %>

<%- include tags/env %>
</body>
</html>