<%- contentFor('script') %>
<script src="/js/inquiry/index.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.confirm.pageTitle') %></h1>
    <p class="read"><%- __('inquiry.confirm.read') %></p>

    <div class="ghost-button black-button mb-large center-button ticket-scroll-button">
        <a class="icon-ticket-black" href="#"><%- __('inquiry.confirm.ticketButton') %></a>
    </div>

    <div class="box radius bg-ultra-light-gray mb-large">
        <div class="section-ttl text-center"><%- __('inquiry.confirm.sectionTitle') %></div>
        <p class="small-x-text mb-small read"><%- __('inquiry.confirm.sectionText') %></p>
        <div class="small-x-text bookmark"><img src="/images/inquiry/bookmark.svg" alt=""></div>
    </div>

    <div class="box radius bg-light-gray mb-large">
        <dl>
            <dt><%- __('common.purchaseNumber') %></dt>
            <dd><strong class="red-text large-x-text"><%= inquiryModel.input.reserveNum %></strong></dd>
            <dd class="small-x-text"><%- __('inquiry.confirm.note') %></dd>
        </dl>
    </div>

    <h2 class="page-ttl qr-tickets"><%- __('inquiry.confirm.qrTitle') %></h2>
    <p class="read"><%- __('inquiry.confirm.qrRead') %></p>
    <ul class="tickets mb-large">
        <% for (let i = 0; i < inquiryModel.order.acceptedOffers.length; i++) { %>
        <% const offer = inquiryModel.order.acceptedOffers[i] %>
        <li class="ticket">
            <div class="inner bg-light-gray">
                <div class="box radius border-bottom-dot bg-white">
                    <div class="mb-xx-small small-text"><strong><%- __('common.seat') %></strong> [<%- __('common.ticket') %>]</div>
                    <div class="ticket-number bg-light-gray small-text"><%- `${i + 1}/${inquiryModel.order.acceptedOffers.length}` %><%- __('common.ticketNumber') %></div>
                    <div class="mb-xx-small">
                        <strong class="large-text"><%= offer.itemOffered.reservedTicket.ticketedSeat.seatNumber %></strong>
                    </div>
                    <div>
                        [<%= offer.itemOffered.reservedTicket.coaTicketInfo.ticketName %>]
                    </div>
                </div>
                
                <% if (moment(offer.itemOffered.reservationFor.endDate).add(1, 'months').unix() < moment().unix()) { %>
                <div class="box radius border-bottom-dot not-qr-code bg-white">
                    <p class="text-center"><%- __('inquiry.confirm.qrAfter') %></p>
                </div>
                <% } else if (moment(offer.itemOffered.reservationFor.startDate).subtract(24, 'hours').unix() > moment().unix()) { %>
                    <div class="box radius border-bottom-dot not-qr-code bg-white">
                        <p class="text-center"><%- __('inquiry.confirm.qrBefore') %></p>
                    </div>
                <% } else { %>
                <div class="box radius border-bottom-dot qr-code bg-white text-center" data-qrcode="<%- offer.itemOffered.reservedTicket.ticketToken %>"></div>
                <% } %>
                <div class="box">
                    <div class="mb-xx-small small-text"><strong><%- __('common.appreciationDate') %></strong></div>
                    <div class="mb-x-small">
                        <%
                        moment.locale('ja');
                        const date = moment(offer.itemOffered.reservationFor.coaInfo.dateJouei).format('YYYY年MM月DD日(ddd)');
                        const startTime = timeFormat(offer.itemOffered.reservationFor.startDate, offer.itemOffered.reservationFor.coaInfo.dateJouei);
                        const endTime = timeFormat(offer.itemOffered.reservationFor.endDate, offer.itemOffered.reservationFor.coaInfo.dateJouei);
                         %>
                        <%= date %> <%= startTime %> - <%= endTime %>
                    </div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.theater') %></strong></div>
                    <div class="mb-x-small"><%= inquiryModel.movieTheaterOrganization.location.name.ja %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.screen') %></strong></div>
                    <div class="mb-x-small"><%= offer.itemOffered.reservationFor.location.name.ja %></div>
                    <div class="mb-xx-small small-text"><strong><%- __('common.filmTitle') %></strong></div>
                    <div><%= offer.itemOffered.reservationFor.workPerformed.name %></div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    
    <div class="button-area clearfix">
        <div class="prev-link"><a class="icon-prev-black" href="/inquiry/login?theater=<%= inquiryModel.movieTheaterOrganization.location.branchCode %>"><%- __('inquiry.confirm.prev') %></a></div>
    </div>
</div>
<div id="copy" style="display: none"></div>

<input type="hidden" name="theaterCode" value="<%= inquiryModel.movieTheaterOrganization.location.branchCode %>">
<input type="hidden" name="reserveNum" value="<%= inquiryModel.input.reserveNum %>">
<input type="hidden" name="telephone" value="<%= inquiryModel.input.telephone %>">
<input type="hidden" name="orderNumber" value="<%= inquiryModel.order.orderNumber %>">
<input type="hidden" name="expire" value="<%= moment(inquiryModel.order.acceptedOffers[0].itemOffered.reservationFor.coaInfo.dateJouei).add(10, 'day').format('x') %>">

