<%- contentFor('script') %>
<script src="/js/inquiry/login.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl"><%- __('inquiry.login.pageTitle') %><br>(QRコード付きチケットの発行はコチラから)</h1>
    <p class="read"><%- __('inquiry.login.read') %></p>
    <form method="post">
        <div class="box radius bg-light-gray">
            <dl>
                <dt><%- __('common.purchaseNumber') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="reserveNum" maxlength="8" autocomplete="off" placeholder="<%- __('common.placeholder.purchaseNumber') %>" value="<%= inquiryModel.input.reserveNum %>">
                    <% if (error && error.reserveNum) { %>
                    <div class="validation-text"><%= error.reserveNum.msg %></div>
                    <% } %>
                </dd>
                <dt><%- __('common.telNum') %></dt>
                <dd>
                    <input type="text" pattern="\d*" name="telephone" autocomplete="off" placeholder="<%- __('common.placeholder.tel') %>" value="<%= inquiryModel.input.telephone %>">
                    <% if (error && error.telephone) { %>
                    <div class="validation-text"><%= error.telephone.msg %></div>
                    <% } %>
                </dd>
            </dl>
        </div>

        <input type="hidden" name="theaterCode" value="<%= inquiryModel.movieTheater.location.branchCode %>">
        
        <div class="button-area clearfix">
            <div class="button next-button orange-button"><button type="submit"><%- __('inquiry.login.next') %></button></div>
            <div class="prev-link"><a class="icon-prev-black" href="<%= inquiryModel.movieTheater.url %>"><%- __('inquiry.login.prev') %></a></div>
        </div>
    </form>
<%- include('../layouts/siteSeal') %>
</div>
<div id="copy" style="display: none"></div>