<%- contentFor('script') %>
<script src="/js/inquiry/login.js"></script>

<%- contentFor('body') %>
<div class="inquiry-confirm">
    <h1 class="page-ttl">チケット情報照会<br>(QRコード付きチケットの発行はコチラから)</h1>
    <p class="read">下記にチケット購入時の予約番号と電話番号を入力して「照会」ボタンを押してください。<br>QRコード付きチケットが発行されますので、劇場までお持ち下さい。</p>
    <form method="post">
        <div class="box radius bg-light-gray">
            <dl>
                <dt>予約番号</dt>
                <dd>
                    <input type="text" pattern="\d*" name="reserveNum" maxlength="8" autocomplete="off" placeholder="(例)12345678" value="<%= inquiryModel.input.reserveNum %>">
                    <% if (error && error.reserveNum) { %>
                    <div class="validation-text"><%= error.reserveNum.msg %></div>
                    <% } %>
                </dd>
                <dt>電話番号</dt>
                <dd>
                    <input type="text" pattern="\d*" name="telephone" autocomplete="off" placeholder="(例)08000000000" value="<%= inquiryModel.input.telephone %>">
                    <% if (error && error.telephone) { %>
                    <div class="validation-text"><%= error.telephone.msg %></div>
                    <% } %>
                </dd>
            </dl>
        </div>

        <input type="hidden" name="theaterCode" value="<%= inquiryModel.seller.location.branchCode %>">
        
        <div class="button-area clearfix">
            <div class="button next-button orange-button"><button type="submit">照会</button></div>
            <div class="prev-link"><a class="icon-prev-black" href="<%= inquiryModel.seller.url %>">劇場TOPへ戻る</a></div>
        </div>
    </form>
<%- include('../layouts/siteSeal') %>
</div>
<div id="copy" style="display: none"></div>